VPSData/
obj/
*.csproj
Library/
Maxverse-Unity.sln
Logs/
Temp/
*.apk
*.sln
.vs/
.vsconfig
log.txt
Assets/StreamingAssets/PlaceStruct.*
Assets/StreamingAssets/build_info
Assets/StreamingAssets/build_info.*
Assets/Vuplex/WebView/Plugins/Windows/VuplexWebViewChromium/log-chromium.*
MaxstLog.txt
Unity 2D Example/Temp/ 

# Ios

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
.bash_profile
